@tailwind base;
@tailwind components;
@tailwind utilities;

.loginCover {
  background-image: url(./assets/LoginTools.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.profileMenuBtn {
  border-width: 1px;
  border-color: black;
}
